{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login_page_style.css' %}">
    <title>login</title>
</head>
<body>
    <div class="main">
        <img src="static/img/docs_pic.svg" alt=""> 
        <div class="container">
            <h1 class="logo">DocStore</h1>
            <div class="inputs">
                <input type="text" placeholder="Логин" class="login">
                <input type="text" class="password" placeholder="Пароль">
            </div>
            <div class="enter">
                <div class="problems">
                    <a href="#">Регистрация</a>
                    <a href="#">Забыли пароль?</a>
                </div>
                <button>Войти</button>
            </div>
        </div> 
    </div>
</body>
</html>