{%extends 'personal_account/acc_page.html'%}
{%load static%}
{%block style%}<link rel="stylesheet" href="{% static 'personal_account/add_passp_page.css' %}">{%endblock%}
{%block title%}New passport{%endblock%}
{%block content%}
<div class="popup">
    <p class="alert">Данная страница скоро будет доступна...</p>
    <!-- <form method="post" action="{%url 'add'%}" enctype="multipart/form-data">
        {% csrf_token %}
        {%for field in form%}
        <div class="block">
            <div class="name">{{field.label_tag}}</div>
        <div class="enter">{{field}}</div>
        </div>
        {%endfor%}
        <button type="submit" class="submit_doc"> Добавить</button>  
    </form> -->
</div>
{%endblock%}