*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items:center;
    font-size: 16px;
}

.container{
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    height: 70vh;
}


.logo{
    font-family: 'Baloo Tammudu 2';
    font-weight: 700;
    font-size: 5em;
    color: #fc5d28;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    height:8vh;
    
}

input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:solid #E0ADA4;
    width:100%;
    /* color: #fc5d28; */
    color: #e57e6c;
    font-family: 'Roboto';
    font-size: 1em;
    margin-bottom: 14%;
}
input::placeholder{
    color: #DCC3BF;
    font-size: 1.4em;
}

input:focus-visible{
    outline: none;
}
input.login{
    margin-bottom: 10%;
    

}
button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    
    /* width: 38%;
    height: 50px; */
    background-color: #fc5d28;
    border-radius: 11px;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
}
button:hover{
    transform: scale(1.1);
    background-color: rgb(32, 84, 56);
    transition: all 800ms;
}


a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.9em;
    text-decoration:none;
    color: #de6a55;
}
a:hover{
    transform: scale(1.1);
    transform: translateX(1px);
    color: rgb(112, 103, 207);
    transition: all 800ms;
}


.inputs{
    width: 100%;
    margin-top: 0%;
}
.inputs ul{
    margin-top: 7px;
    color:#d86d5a;
    font-size:0.8em;
    font-family: 'Roboto';
    font-weight: 200;
    margin-bottom: 40px;
}
.inputs p{
    margin-bottom: 50px;
}
.inputs label{
    width:100%;
    /* color: #fc5d28; */
    color: #de6a55;
    font-family: 'Roboto';
    font-size: 1em;
    
}
.inputs input{
    margin-top: 19px;
    margin-bottom: 7px;
}
.helptext{
    color:#d86d5a;
    font-size:0.8em;
    font-family: 'Roboto';
    font-weight: 200;
}
h2{
    color: #f12708;
    font-family: 'Roboto';
    font-weight: 500;
}






